.heroContainer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Add the mask image */
  background-image: linear-gradient(
      to bottom left,
      rgba(47, 47, 47, 0.59),
      rgba(255, 255, 255, 0.95)
    ),
    url('https://images.unsplash.com/photo-1556075798-4825dfaaf498?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
  background-size: cover;
  filter: grayscale(100%);
}

.heroContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background-size: cover;
  background-position: center center;
}
.gridItem {
  aspect-ratio: 1/1; /* set aspect ratio to 1:1 */
  padding: 10px;
  margin: 10px;
}
.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1; /* add this line */
}
.header {
  font-size: 3rem;
  text-transform: capitalize;
}
.subTitle {
  font-size: 2rem;
  margin-left: 10px;
}

.tagline {
  font-size: 1.2rem;
  position: relative;
  z-index: 10;
}
.heroLink {
  margin-top: 20px;
  background-color: rgb(47, 47, 47);
  border: 1px solid rgb(47, 47, 47);
  color: white;
  font-family: 'Cardo', serif;
  font-size: 16px;
  padding: 8px 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}
.rightContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 65%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .heroContainer {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 40px;
  }
  .heroContainer::before {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.95),
        rgba(47, 47, 47, 0.19)
      ),
      url('https://images.unsplash.com/photo-1556075798-4825dfaaf498?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
    background-size: cover;
    filter: grayscale(100%);
  }
  .leftContent {
    height: 100%;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
  }
  .rightContent {
    height: 100%;
    width: 60%;
    margin: 0 auto;
  }

  .header {
    font-size: 2rem;
    margin: 0;
  }

  .subTitle {
    font-size: 1.5rem;
    margin: 0;
  }

  .tagline {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }

  .heroLink {
    font-size: 1rem;
    margin-left: auto;
    margin-right: 20px;
  }
}
