@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
p {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cardo', serif;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Remove list styles (bullets, numbering) */
ul,
ol {
  list-style: none;
}

/* Remove default blockquote styling */
blockquote,
q {
  quotes: none;
}

/* Remove default table styling */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
