.modalContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.623);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
  border: #d0d0d0 solid 1px;
}
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modalContent h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: #d0d0d0 solid 1px;
}

.modalContent p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.modalContent button {
  font-family: 'Cardo', serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modalButton:hover {
  background-color: #d0d0d0;
}
