.drawerWrapper {
  position: relative;
}

.drawerContainer {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: flex-end;
  transition: box-shadow 0.1s ease-out;
}

.drawer {
  position: relative;
  height: 100vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform: translateX(100%); /* Start the drawer offscreen */
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out; /* Add width transition */
  z-index: 100;
}

.drawer.open {
  transform: translateX(0); /* Slide the drawer onto the screen */
  width: 320px;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out; /* Add width transition */
}

.drawer:not(.open) {
  width: 0;
  box-shadow: none;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 101;
  transition: opacity 0.1s ease-out;
}

.content {
  padding: 16px;
  transition: opacity 0.1s ease-out;
}

.drawer:not(.open) .content {
  opacity: 0;
}

.drawer:not(.open) .closeButton {
  opacity: 0;
  display: none;
}

@media (max-width: 767px) {
  .drawer.open {
    width: 100vw;
    height: 100vh;
  }

  .content {
    margin-top: 30px;
    padding: 40px;
  }

  .closeButton {
    margin: 30px 30px;
  }
  .closeButton span {
    font-size: 18px;
  }
}
