.footer {
  width: 100%;
  background-color: #f1f1f1;
  color: black;
}
.footerContent {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 20px;
}
.textContent {
  max-width: 600px;
}
/* .listContainer {
  } */

.listContainer h3 {
  margin: 0;
  padding: 0;
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.footerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.footerList li {
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
}
.footerList li a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}
.footerList li a:hover {
  color: rgb(175, 175, 175);
}
.footerCta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  padding: 20px;
  border-top: 1px solid rgb(100, 100, 100);
  border-bottom: 1px solid rgb(100, 100, 100);
}

.footerSocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}
.socialsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialsList li {
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.socialsList li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(100, 100, 100);
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(100, 100, 100);
}
.socialsList li a:hover {
  background-color: rgb(100, 100, 100);
  color: white;
}
.copy {
  text-align: center;
  font-size: smaller;
  background-color: rgb(47, 47, 47);
  padding: 20px;
  color: rgb(100, 100, 100);
  width: 100%;
}
